* {
    outline: dashed blue 1px;
    background-color: #141414;
    font-weight: bold;
    color: #aaa;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #222;
}

.frame {
    width: 98%;
    margin: 2%;
    background-color: rgb(22, 117, 117);
}

sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    min-width: 210px;
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 2%;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-left: 0%;
}

.content { 
    padding: 10px;
    margin-left: 210px;
}