* {
    outline: dashed blue 1px;
    background-color: #141414;
    font-weight: bold;
    color: #aaa;
    padding: 0px;
    margin: 0px;
}


.frame {
    width: 98%;
    margin: 2%;
    background-color: rgb(22, 117, 117);
}

sidebar {
    height: 100%;
    min-width: 210px;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 2%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 0%;
}

.content { 
    padding: 10px;
    margin-left: 210px;
}