* {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color: #aaa;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #1e1d24;
}

img {
    width: 30px;
}

.frame {
    width: 98%;
    margin: 2%;
}

.dates {
    font-weight: 100;
    color: #727272a9;
}

sidebar {
    height: 100%;
    width: 110px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 2%;
    background-color: #70727411;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 0%;
    font-size: small;
}

.content { 
    padding: 10px;
    margin-left: 110px;
}