* {
    outline: dashed red 1px;
    background-color: #141414;
    font-weight: bold;
    color: #aaa;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #222;
}

.frame {
    width: 60%;
    
    margin-left: 20%;
    background-color: rgb(22, 117, 117);
}

sidebar {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 20%;
}

.content { 
    padding: 10px;
    margin-left: 210px;
}